<section class="course-content course-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card complete-sec">
          <div class="card-body">
            <div class="breadcrumb-bar">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-12" style="padding-left: 0">
                    <div class="breadcrumb-list">
                      <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a></li>
                          <li aria-current="page" class="breadcrumb-item">
                            <a [routerLink]="routes.page_course_list">Courses</a></li>
                          <li aria-current="page" class="breadcrumb-item active">The Complete Web Developer Course 2.0
                          </li>
                        </ol>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="com-info">
              <div>
                <h2>{{ course.title }}</h2>
                <p>{{ course.shortDescription }}</p>
                <div class="instructor-wrap border-bottom-0 m-0">
                  <div class="about-instructor align-items-center" *ngIf="course.rating">
                    <span class="me-1">{{course.rating}}</span>
                    <app-star-rating [rating]="course.rating"></app-star-rating>
                    <span class="d-inline-block average-rating"> ({{course.reviews.length}} ratings) {{course.studentsNumber}} students</span>
                  </div>
                </div>
                <p>
                  Created by <a href="https://www.youtube.com/embed/1trvO6dqQUI">{{ course.instructorName }}</a>
                </p>
                <p class="mb-0">
                  <img alt="" src="assets/img/icon/timer-icon.svg">
                  Last updated 9/2023
                  <img alt="" class="ms-2" src="assets/img/icon/chart.svg"> Level: <span>Beginner</span>
                </p>
              </div>
              <a class="video-thumbnail" data-fancybox=""
                 href="https://www.youtube.com/embed/1trvO6dqQUI">
                <div class="play-icon">
                  <i class="fa-solid fa-play"></i>
                </div>
                <img alt="" class="img-fluid" src="{{environment.courseThumbnailsUrl + course.thumbnail}}">
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- /Complete Course -->
      <div class="col-lg-8">
        <!-- Overview -->
        <div class="card overview-sec">
          <div class="card-body">
            <h5 class="subs-title">Overview</h5>
            <h6>Course Description</h6>
            <p>{{ course.description }}
            </p>
            <h6 *ngIf="course.skills">What you'll learn</h6>
            <div class="row" *ngIf="course.skills">
              <div>
                <ul>
                  <li *ngFor="let skill of course.skills">{{ skill }}</li>
                </ul>
              </div>
            </div>
            <h6 *ngIf="course.requirements">Requirements</h6>
            <ul class="mb-0" *ngIf="course.requirements">
              <li *ngFor="let requirement of course.requirements">{{ requirement }}</li>
            </ul>
          </div>
        </div>
        <!-- /Overview -->
        <!-- Course Content -->
        <div class="card content-sec">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <h5 class="subs-title">Course Content</h5>
              </div>
              <div class="col-sm-6 text-sm-end">
                <h6>{{ course?.sections?.length }} Sections • {{ course?.numberOfLessons }} Lectures • {{ course?.courseLength | durationFormat }}  total length</h6>
              </div>
            </div>
            <div class="course-card" *ngFor="let section of course?.sections">
              <div class="row">
                <h6 class="cou-title">
                  <a aria-expanded="false" class="collapsed" data-bs-toggle="collapse" style="display: flex; padding-right: 40px;"
                     [href]="'#collapse' + section?.position">
                    <div class="col-sm-6">
                      {{ section.title }}
                    </div>
                    <div class="col-sm-6 text-sm-end">
                      {{ section.lessons.length }} Lectures • {{ section.sectionLength | timeFormat }}
                    </div>
                  </a>
                </h6>
              </div>
              <div class="card-collapse collapse" [id]="'collapse' + section.position">
                <ul>
                  <li *ngFor="let lesson of section.lessons">
                    <p><img alt="" class="me-2" src="assets/img/icon/play.svg">{{ lesson.title }}</p>
                    <div>
                      <a href="{{lesson.videoUrl}}" *ngIf="lesson.canPreview">Preview</a>
                      <span *ngIf="lesson.videoLength !== 0">{{ lesson.videoLength | timeFormat }}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /Course Content -->
        <!-- Instructor -->
        <div class="card instructor-sec">
          <div class="card-body">
            <h5 class="subs-title">About the instructor</h5>
            <div class="instructor-wrap">
              <div class="about-instructor">
                <div class="abt-instructor-img">
                  <a [routerLink]="routes.instructor_instructor_profile">
                    <img alt="img" class="img-fluid" src="assets/img/user/user1.jpg">
                  </a>
                </div>
                <div class="instructor-detail">
                  <h5><a [routerLink]="routes.instructor_instructor_profile">Nicole Brown</a></h5>
                  <p>UX/UI Designer</p>
                </div>
              </div>
              <div style="display: flex">
                <app-star-rating [rating]="2.6"></app-star-rating>
                <span style="margin-top: -5px"> 2.6 Instructor Rating</span>
              </div>
            </div>
            <div class="course-info d-flex align-items-center">
              <div class="cou-info">
                <img alt="" src="assets/img/icon/play.svg">
                <p>5 Courses</p>
              </div>
              <div class="cou-info">
                <img alt="" src="assets/img/icon/icon-01.svg">
                <p>{{ course.numberOfLessons }} Lesson</p>
              </div>
              <div class="cou-info">
                <img alt="" src="assets/img/icon/icon-02.svg">
                <p>9hr 30min</p>
              </div>
              <div class="cou-info">
                <img alt="" src="assets/img/icon/people.svg">
                <p>270,866 students enrolled</p>
              </div>
            </div>
            <p>UI/UX Designer, with 7+ Years Experience. Guarantee of High Quality Work.</p>
            <p>Skills: Web Design, UI Design, UX/UI Design, Mobile Design, User Interface Design, Sketch,
              Photoshop, GUI, Html, Css, Grid Systems, Typography, Minimal, Template, English, Bootstrap,
              Responsive Web Design, Pixel Perfect, Graphic Design, Corporate, Creative, Flat, Luxury and
              much more.</p>
            <p>Available for:</p>
            <ul>
              <li>1. Full Time Office Work</li>
              <li>2. Remote Work</li>
              <li>3. Freelance</li>
              <li>4. Contract</li>
              <li>5. Worldwide</li>
            </ul>
          </div>
        </div>
        <!-- /Instructor -->
        <!-- Reviews -->
        <div class="card review-sec">
          <div class="card-body">
            <h5 class="subs-title">Reviews</h5>
            <div class="instructor-wrap">
              <div class="about-instructor">
                <div class="abt-instructor-img">
                  <a [routerLink]="routes.instructor_instructor_profile">
                    <img alt="img" class="img-fluid" src="assets/img/user/user1.jpg">
                  </a>
                </div>
                <div class="instructor-detail">
                  <h5><a [routerLink]="routes.instructor_instructor_profile">Nicole Brown</a></h5>
                  <p>UX/UI Designer</p>
                </div>
              </div>
              <div class="rating">
                <i class="fas fa-star filled me-1"></i>
                <i class="fas fa-star filled me-1"></i>
                <i class="fas fa-star filled me-1"></i>
                <i class="fas fa-star filled me-1"></i>
                <i class="fas fa-star me-1"></i>
                <span class="d-inline-block average-rating">4.5 Instructor Rating</span>
              </div>
            </div>
            <p class="rev-info">“ This is the second Photoshop course I have completed with Cristian. Worth
              every penny and recommend it highly. To get the most out of this course, its best to to take
              the Beginner to Advanced course first. The sound and video quality is of a good standard.
              Thank you Cristian. “</p>
            <a class="btn btn-reply" href="javascript:void(0)"><i class="feather icon-corner-up-left"></i>
              Reply</a>
          </div>
        </div>
        <!-- /Reviews -->
        <!-- Comment -->
        <div class="card comment-sec">
          <div class="card-body">
            <h5 class="subs-title">Post A comment</h5>
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-block">
                    <input class="form-control" placeholder="Full Name" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-block">
                    <input class="form-control" placeholder="Email" type="email">
                  </div>
                </div>
              </div>
              <div class="input-block">
                <input class="form-control" placeholder="Subject" type="email">
              </div>
              <div class="input-block">
                <textarea class="form-control" placeholder="Your Comments" rows="4"></textarea>
              </div>
              <div class="submit-section">
                <button class="btn submit-btn" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /Comment -->
      </div>
      <div class="col-lg-4">
        <!-- Video -->
        <div class="video-secs vid-bg no-video">
          <div class="card">
            <div class="card-body">
              <div class="video-details">
                <div class="course-fee">
                  <h2 class="text-primary">{{ getDiscountedPrice() | tndCurrency }}</h2>
                  <p *ngIf="course.onSale"><span>{{ course.price | tndCurrency  }}</span> {{ course.salePercentage }}% off</p>
                </div>
                <div class="row gx-2">
                  <div class="col-sm-6">
                    <a [routerLink]="routes.page_course_course_wishlist" class="btn btn-wish w-100">
                      <i class="feather icon-heart"></i> Add to
                      Wishlist</a>
                  </div>
                  <div class="col-sm-6">
                    <a class="btn btn-wish w-100" href="javascript:void(0)"><i class="feather icon-share-2"></i>
                      Share</a>
                  </div>
                  <div class="col-sm-6">
                    <a [routerLink]="routes.page_cart" class="btn btn-cart w-100">Add To Cart</a>
                  </div>
                  <div class="col-sm-6">
                    <a [routerLink]="routes.page_checkout" class="btn btn-enroll w-100">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Video -->
        <!-- Include -->
        <div class="card include-sec">
          <div class="card-body">
            <div class="cat-title">
              <h4>This course includes</h4>
            </div>
            <ul>
              <li>
                <img alt="" class="me-2" src="assets/img/icon/import.svg"> {{ course.courseLength | hoursDecimalFormat }} hours on-demand video
              </li>
              <li><img alt="" class="me-2" src="assets/img/icon/play.svg"> {{ course.numberOfLessons }} lectures</li>
              <li><img alt="" class="me-2" src="assets/img/icon/key.svg"> Full lifetime access</li>
              <li><img alt="" class="me-2" src="assets/img/icon/mobile.svg"> Access on mobile and TV</li>
              <li><img alt="" class="me-2" src="assets/img/icon/cloud.svg"> Assignments</li>
              <li *ngIf="course.isCertified">
                <img alt="" class="me-2" src="assets/img/icon/teacher.svg"> Certificate of Completion
              </li>
            </ul>
          </div>
        </div>
        <!-- /Include -->
      </div>
    </div>
  </div>
</section>
