.dark-mode-toggle {
    width: 35px;
    height: 34px;
    background: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    border-radius: 10px;
    padding: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
}

.dark-mode-toggle i {
    font-size: 16px;
    color: gray;
    border-radius: 10px;
    line-height: 26px;
    width: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

.dark-mode-toggle .light-mode.active {
    color: white;
    background: black;
}

.dark-mode-toggle .dark-mode.active {
    color: white;
    background: #131022;
}

.dark-mode-toggle {
    display: none;
}

.dark-mode-toggle.activate {
    display: flex;
}

#dark-mode-toggle,
#dark-mode-toggle i {
    border: none;
    background-color: #131022;
    color: #ffffff;
}

.dark .checkmark {
    background-color: #a19fa7;
    border: none;
}

.dark {
    background-color: #131022;
    color: #B9B7C0;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p {
    color: #B9B7C0;
}

.dark a {
    color: #b9b7c0;
}

/* .dark span {
  color: #B9B7C0;
} */
.dark .add-header-bg {
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
    transition-duration: 0.4s;
    background: #2B2838;
    padding-top: 0;
    margin: 0;
}

.dark .main-nav .has-submenu a {
    color: #b9b7c0;
}

.dark .submenu {
    background: #131022;
}

.dark .main-nav > li .submenu li a {
    border: none;
}

.dark .main-nav li .submenu::before {
    border-color: transparent transparent #131022 #131022;
}

.dark .main-nav > li .submenu.first-submenu li a {
    border: none;
}

.dark .main-nav > .has-submenu > .submenu > .has-submenu > .submenu::before {
    border-color: transparent transparent #131022 #131022;
}

.dark .banner-content .form-inner {
    background-color: #2b2838;
    border-color: #1b1632;
}

.dark .banner-content .input-group {
    background-color: #2b2838;
    border-color: #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .banner-content .input-group input {
    background-color: #2b2838;
    border: none;
    color: #b9b7c0;
}

.dark .selection .select2-selection {
    background: #131022;

}

.dark .selection .select2-selection option {
    color: #B9B7C0;
}

.dark .banner-content .select2-container {
    background-color: #2b2838;
}

.dark
.select2-container--default
.select2-selection--single
.select2-selection__arrow
b {
    border-color: #b9b7c0;
}

.dark .select2-container--open .select2-dropdown--above {
    border-color: #2B2838;
}

.dark .select2-container--default .select2-results > .select2-results__options {
    background-color: #2B2838;
    color: #B9B7C0;
}

.dark .home-two .sub-btn {
    color: #B9B7C0;
}

.dark .header-five .main-nav .has-submenu.active > a {
    color: #ffd600 !important;
}

.dark .fa-book-open:before {
    color: #b9b7c0;
}

.dark .sub-btn i {
    color: #131022;
}

.dark .online-course {
    background: #2b2838;
}

.dark .course-radius {
    border: none;
}

.dark .how-it-works {
    background: #131022;
}

.dark .feature-box {
    background: #2b2838;
    border: 1px solid #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .product {
    background: #2b2838;
}

.dark .course-info {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .product-content h3 a,
.course-name h4 a {
    color: #B9B7C0;
}

.dark .price {
    background: #131022;
}

.dark .certified-group {
    border: 1px solid #1b1632;
}

.dark .get-certified {
    background: #2b2838;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .trend-box {
    border: 1px solid #1b1632;
}

.dark .instructors-widget {
    background: #2b2838;
    border: 1px solid #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .testimonial-four .slick-list {
    border: 14px solid #1b1632;
}

.dark .slick-arrow {
    background: #131022;
}

.dark .slick-prev:before,
.slick-next:before {
    color: #B9B7C0;
}

.dark .testimonial-four .slick-next:before {
    color: #B9B7C0;
}

.dark .student-mentor {
    background: #2b2838;
    border-color: #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .enroll-group {
    background: #2b2838;
    border-color: #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .dropdown-menu.dropdown-menu-right {
    top: 100%;
}

.dark .enroll-img {
    background: #2b2838;
    border-color: #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .check-outs .btn-primary {
    color: #efeff2;
}

.dark .condinue-shop .btn-primary {
    background-color: #2B2838;
    color: #efeff2;
}

.dark .condinue-shop .btn-primary:hover {
    color: #efeff2;
}

.dark .condinue-shop .btn-primary {
    color: #efeff2;
}

.dark .faq-title > a:after {
    color: #b9b7c0;
}

.dark .support-sec {
    background: #131022;
}

.dark .support-card {
    background: #2B2838;
}

.dark .footer {
    background: #131022;
}

.dark .error-box .btn-primary {
    color: #efeff2;
}

.dark .loginbox button {
    color: #efeff2;
}

.dark .footer-widget .footer-about-content p {
    color: #B9B7C0;
}

.dark .next-btn .btn-start {
    color: #B9B7C0;
}

.dark .payment-btn .btn-primary {
    color: #B9B7C0;
}

.dark .acheive-goals span {
    color: #B9B7C0;
}

.dark .price-three-time span {
    color: #B9B7C0;
}

.dark .footer-menu ul li a {
    color: #b9b7c0;
}

.dark .news-letter form {
    border-bottom: 1px solid #1b1632;
}

.dark .news-letter form input {
    background: #2b2838;
    border-color: #1b1632;
}

.dark .privacy-policy ul li a {
    color: #b9b7c0;
}

.dark .privacy-policy ul li {
    border-right: 1px solid #1b1632;
}

.dark .privacy-policy ul li:last-child {
    border-radius: 0;
}

.dark .footer-bottom .copyright-text p {
    color: #B9B7C0;
}

.dark .home-two-slide {
    background: #131022;
}

.dark .banner-content .select2-container .select2-selection--single {
    background: #2b2838;
}

.dark .banner-content .form-inner {
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .select2-dropdown {
    border: 1px solid #1b1632;
}

.dark .about-image {
    background: #2b2838;
    border: #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .topcategory-sec {
    background-color: #131022;
}

.dark .topcategory-sec .categories-item {
    background: #2b2838;
    border: #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .featured-details-two {
    background: #2b2838;
    border: #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .featured-info-two {
    border-bottom: 1px solid #1b1632;
}

.dark .growup-section {
    background-image: none;
}

.dark .join-title-one h2,
.dark .join-title-one p {
    color: #B9B7C0;
}

.dark .join-title-middle h2,
.dark .join-title-middle p {
    color: #B9B7C0;
}

.dark .trending-courses-group {
    background: #2b2838;
    border: #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .time-hours-two span i {
    color: #B9B7C0;
}

.dark .knowledge-sec {
    background-color: #131022;
}

.dark .knowledge-sec .section-title h2 {
    color: #B9B7C0;
}

.dark .knowledge-sec .joing-list .joing-title {
    color: #B9B7C0;
}

.dark .joing-list .joing-para p {
    color: #B9B7C0;
}

.dark .feature-instructors-sec {
    background: #131022;
}

.dark .real-reviews-sec {
    background: #131022;
}

.dark .real-reviews-grid .review-content h3,
.dark .real-reviews-grid .review-content p {
    color: #B9B7C0;
}

.dark .real-reviews-grid .review-info h3,
.dark .real-reviews-grid .review-info h5 {
    color: #B9B7C0;
}

.dark .latest-blog-sec {
    background: #131022;
}

.dark .footer-two .footer-menu ul li a:before {
    color: #3e4265;
}

.dark .footer-two .footer-contact-widget p {
    color: #B9B7C0;
}

.dark .footer-two .footer-bottom .copyright {
    border-top: 1px solid #1b1632 !important;
}

.dark .header-three .main-nav > li .submenu li a {
    color: #b9b7c0;
}

.dark .home-three-slide {
    background: #131022;
}

.dark .notify-item a.btn {
    background-color: #ff5364;
}

.dark .remove-btn a {
    color: #efeff2;
    background-color: #ff5364;
}

.dark .course-design .product:hover {
    background-color: #2B2838;
    color: #efeff2;
}

.dark .main-chat-blk .add-section ul li a {
    background: #131022;
}

.dark .banner-three-content .form-inner-three {
    background: #131022;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark
.select2-container--default
.select2-selection--single
.select2-selection__rendered {
    color: #B9B7C0;
}

.dark .banner-three-content .form-control {
    background: #131022;
    color: #a19fa7;
}

.dark .banner-three-content .sub-btn {
    border-right: none !important;
}

.dark .course-details-three {
    background: #2b2838;
    border: #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .course-details-three .course-content-three p {
    color: #B9B7C0;
}

.dark .favourite-box {
    background: #2b2838;
    border: #1b1632;
}

.dark .home-three-favourite:after {
    background-color: #131022;
}

.dark .home-three-favourite .categories-content h3 {
    color: #B9B7C0;
}

.dark .home-three-courses {
    background-color: #131022;
}

.dark .course-box-three {
    background-color: #2b2838;
}

.dark .student-counts-info {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .home-three-transform {
    background-color: #131022;
}

.dark .home-three-goals {
    background-color: #131022;
}

.dark .accelerate-cloud-three {
    background-color: #131022;
    border-bottom: 1px solid #1b1632;
}

.dark .learn-anything {
    border-bottom: 1px solid #1b1632;
}

.dark .award-one {
    border-bottom: 1px solid #1b1632;
}

.dark .home-three-trending {
    background-color: #131022;
}

.dark .trending-bg-one,
.dark .trending-content-footer,
.dark .trending-bg-two,
.dark .trending-bg-three,
.dark .trending-bg-four {
    background-color: #2b2838;
    border: #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .trending-three-item:hover {
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .gallery-three {
    background: #131022;
}

.dark .home-three-become {
    background: #2b2838;
    border: #1b1632;
}

.dark .testimonial-item-five {
    background: #2b2838;
    border: #1b1632;
}

.dark .testimonial-content p {
    color: #B9B7C0;
}

.dark .testimonial-item-five .testimonial-users h6,
.dark .testimonial-item-five .testimonial-users p {
    color: #B9B7C0;
}

.dark .latest-blog-three {
    background: #131022;
}

.dark .box-form-newsletter,
.dark .box-form-newsletter input {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25) 2;
}

.dark .footer-three-top-content {
    border-bottom: 1px solid #1b1632 !important;
}

.dark .main-nav > li .submenu li a {
    color: #b9b7c0;
}

.dark .home-slide-five {
    background-color: #131022;
}

.dark .banner-content-five .form-inner-five {
    background: #131022;
    border: #1b1632;
}

.dark
.banner-content-five
.select2-container--default
.select2-selection--single
.select2-selection__rendered {
    color: #B9B7C0;
}

.dark .lined-accounts-list li .account-info .linked-btn {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .form-control {
    border: 0;
    background-color: #131022;
    color: #B9B7C0;
}

.dark .leading-section-five {
    background-color: #2b2838;
}

.dark .course-section-five {
    background-color: #131022;
}

.dark .course-five-item {
    background-color: #2b2838;
}

.dark .count-five {
    border-right: 1px solid #1b1632;
}

.dark .counter-section-five {
    background: #2b2838;
    border: #1b1632;
}

.dark .featured-section-five {
    background-color: #131022;
}

.dark .tablist-five .nav-tab.active {
    color: #2f15bb;
    border-bottom: 4px solid #2f15bb;
}

.dark .tablist-five {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .tablist-five .nav-tab {
    color: #b9b7c0;
}

.dark .course-box-five {
    background: #2b2838;
    border: #1b1632;
}

.dark .product-content-five h3 a {
    color: #b9b7c0;
}

.dark .info-five-middle {
    border-bottom: 1px solid #1b1632;
}

.dark .master-section-five {
    background-color: #131022;
}

.dark .experienced-course-five {
    background: #2b2838;
    border: #1b1632;
}

.dark .share-knowledge-five {
    background: #131022;
}

.dark .goals-section-five {
    background: #2b2838;
    border: #1b1632;
}

.dark .goals-count-five {
    border-left: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .testimonial-section-five {
    background: #131022;
}

.dark .testimonial-content-five {
    background: #2b2838;
    border: #1b1632;
}

.dark .testimonial-section-five .slick-next:before {
    color: #B9B7C0;
}

.dark .blog-five-item {
    background: #2b2838;
    border: #1b1632;
}

.dark .blog-five-header .blog-five-text p {
    color: #B9B7C0;
}

.dark .blog-five-year i {
    color: #B9B7C0;
}

.dark .wishlist-tab li a {
    background-color: #0f0c1c;
}

.dark .certified-img {
    background-color: #0f0c1c;
}

.dark .home-two .home-slide-text h1, .dark .home-two .trust-user-two p, .dark .topcategory-sec .categories-content h3 {
    color: #b9b7c0;
}

.dark .featured-details-two .name-text h3 a {
    color: #b9b7c0;
}

.dark .text-navy {
    color: #b9b7c0 !important;
}

.dark .featured-info-two h3 a {
    color: #b9b7c0;
}

.dark .feature-instructors-sec .instructors-widget p {
    color: #b9b7c0;
}

.dark .copyright-five {
    border-top: 1px solid #1b1632;
}

.dark .header-nav {
    background-color: #2B2838;
}

.dark .page-content {
    background-color: #131022;
}

.dark .card {
    background: #2b2838;
    border-color: #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .settings-widget {
    border-color: #1b1632;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .settings-menu {
    background: #2b2838;
    border-color: #1b1632;
}

.dark .profile-bg h5 {
    background-color: #131022;
}

.dark .settings-menu ul li .btn {
    border: 1px solid rgba(199, 199, 199, 0.25);
    color: #b9b7c0;
}

.dark .notication-item .notification-btn .btn {
    color: #efeff2;
}

.dark .noti-mark-btns ul li a:hover {
    color: #efeff2;
}

.dark .settings-inner-blk {
    background: #2b2838;
    border-color: #1b1632;
}

.dark .table {
    --bs-table-bg: #2b2838;
}

.dark .table th {
    color: #B9B7C0;
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .course-instruct-blk tr:last-child {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .table tbody tr,
.dark .table tbody td {
    color: #B9B7C0;
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .privacy-policy ul li {
    border-right: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .privacy-policy ul li:last-child {
    border-right: none;
}

.dark .settings-inner-blk table tbody tr td .btn-style {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .student-box {
    background: #2B2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .course-content {
    background-color: #131022;
}

.dark .notify-item {
    background: #2b2838;
    border: #1b1632;
}

.dark .plan-box {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .benefit-box {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .benefit-box ul li {
    color: #B9B7C0;
}

.dark .table-price tr {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .wish-card .card-header {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .wish-card .card-header h5 {
    color: #B9B7C0;
}

.dark .wishlist-item {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .wishlist-info h5 a {
    color: #b9b7c0;
}

.dark .widget-setcount ul li p {
    color: #B9B7C0;
}

.dark .add-course-info .add-course-label {
    color: #B9B7C0;
}

.dark .course-design {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .custom_check {
    color: #a19fa7 !important;
}

.dark .post-info h4 a {
    color: #b9b7c0;
}

.dark .page-banner {
    background-color: #131022;
}

.dark .help-sec {
    background-color: #131022;
}

.dark .faq-card {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .support-wrap {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .support-wrap label {
    color: #B9B7C0;
}

.dark .category-box {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .student-widget-group {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .student-widget {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .cart-head {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .cart-widget .student-widget .course-design {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .checkout-form label {
    color: #B9B7C0;
}

.dark .benifits-feature ul li {
    color: #B9B7C0;
}

.dark .login-wrapper .loginbox label {
    color: #B9B7C0;
}

.dark .header-border {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .breadcrumb-bar {
    background-color: #131022;
}

.dark .page-breadcrumb ol li a {
    color: #5a5864;
}

.dark .page-breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    color: #5a5864;
}

.dark .breadcrumb-item + .breadcrumb-item {
    color: #b8b7bd;
}

.dark .add-course-info .select2-container--default .select2-selection--single {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .instructor-list {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .search-filter .filter-widget h4 {
    color: #B9B7C0;
}

.dark .instructor-box {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .choose-search-blk.show-filter .form-control {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .btn-reply {
    background: #131022;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .tak-instruct-group .student-box {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .message-text-img {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .download-widra {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .secure-alert .check-on label {
    color: #b9b7c0;
}

.dark .overview-sec ul li {
    color: #B9B7C0;
}

.dark .include-sec ul li {
    color: #b9b7c0;
}

.dark .instructor-sec ul li {
    color: #B9B7C0;
}

.dark .student-list {
    background-color: #2B2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .student-list .profile-info-social li a {
    color: #B9B7C0;
}

.dark .settings-top-widget .card.withdraw-box {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .hvr-sweep-to-right a {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .blog-widget .card-header .card-title {
    background: #2b2838;
    color: #B9B7C0;
}

.dark .blog-widget .post-info p {
    color: #B9B7C0;
}

.dark .category-widget .categories li a {
    color: #b9b7c0;
}

.dark .blog-grid-box {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .post-left ul li {
    color: #B9B7C0;
}

.dark .feature-text {
    color: #B9B7C0;
}

.dark .home-slide {
    background: #131022;
}

.dark .new-course {
    background: #131022;
}

.dark .trend-course {
    background: #131022;
}

.dark .share-knowledge {
    background: #131022;
}

.dark .course-list li {
    color: #B9B7C0;
}

.dark .latest-blog {
    background: #131022;
}

.dark .price-three-time i {
    color: #B9B7C0;
}

.dark .home-three .testimonial-ratings {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .settings-top-widget .stat-info p {
    color: #B9B7C0;
}

.dark .error-page .main-wrapper {
    background: #131022;
}

.dark .social-icon-soon ul li .insta-gram {
    color: #b9b7c0;
}

.dark .error-page {
    background: #131022;
}

.dark .add-course-info .input-block {
    color: #B9B7C0;
}

.dark .login-bg {
    background: #131022;
}

.dark .login-wrapper .loginbox {
    background: #2b2838;
}

.dark .chat-cont-right .chat-footer .input-group {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .chat-cont-right .chat-footer .input-group .form-control {
    background: #2b2838;
}

.dark .ck.ck-icon,
.ck.ck-icon * {
    color: #B9B7C0;
}

.dark
.ck-rounded-corners
.ck.ck-dropdown
.ck-dropdown__panel
.ck-list
.ck-list__item:last-child
.ck-button,
.ck.ck-dropdown
.ck-dropdown__panel
.ck-list
.ck-list__item:last-child
.ck-button.ck-rounded-corners {
    background-color: #42404e;
    color: #B9B7C0;
}

.dark .profile-box {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .circle-bar > div p span {
    color: #B9B7C0;
}

.dark .personal-detail {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .personal-form {
    background: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark .personal-form .form-select {
    background-color: #2b2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .invoice-item .customer-text {
    color: #b9b7c0;
}

.dark .table-bordered > :not(caption) > * {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .invoice-item .invoice-details strong {
    color: #b9b7c0;
}

.dark .price-amt {
    background-color: #2b2838;
}

.dark input::placeholder {
    color: #b9b7c0;
}

.dark .student-group .course-group-img img {
    border: 5px solid rgba(199, 199, 199, 0.25);
}

.dark .my-student-list ul li .active {
    border-bottom: 4px solid rgba(199, 199, 199, 0.25);
}

.dark .my-student-list ul li a:hover {
    border-bottom: 4px solid rgba(199, 199, 199, 0.25);
}

.dark .header-navbar-rht li a.header-login {
    color: #b9b7c0;
}

.dark .btn-primary {
    color: #b9b7c0;
}

.dark .course-box .product {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .testimonial-all {
    background: #131022;
}

.dark .footer-two .social-icon ul li a {
    color: #442cc4;
}

.dark .tablist-three .nav-tab.active {
    color: #b9b7c0;
}

.dark .btn-action {
    color: #efeff2;
}

.dark .home-three-slide-text h5 {
    color: #efeff2;
}

.dark .joing-course-btn {
    color: #efeff2;
}

.dark .product-content-five .price-five-group p,
.dark .product-content-five .price-five-group h3 {
    color: #B9B7C0;
}

.dark .info-five-middle .course-view-five p {
    color: #B9B7C0;
}

.dark .header-five .main-nav li.has-submenu .submenu a {
    color: #b9b7c0 !important;
}

.dark .header-five .main-nav .has-submenu.active .submenu li.active > a {
    color: #ffd600 !important;
}

.dark .custom-table table th {
    background: #2b2838;
}

.dark .custom-table {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .profile-name h4 a {
    color: #b9b7c0;
}

.dark .settings-widget {
    border: none;
}

.dark .settings-widget {
    background: #2b2838;
}

.dark .profile-group .profile-name a {
    color: #efeff2;
}

.dark .profile-group .profile-name a:hover {
    color: #b9b7c0 !important;
}

.dark .table-course-detail .course-table-img {
    color: #b9b7c0;
}

.dark .table-course-detail .course-table-img:hover {
    color: #f66962;
}

.dark .dash-pagination .pagination li a {
    background: #2B2838;
    border: 1px solid rgba(199, 199, 199, 0.25);

}

.dark .profile-heading {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .settings-widget.card-details p {
    color: #b9b7c0;
}

.dark .dash-pagination .pagination .active a {
    background-color: #f66962;
}

.dark .review-wrap {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .review-wrap.reply-review {
    border: none;
}

.dark .account-settings .settings-menu h3 {
    color: #B9B7C0;
}

.dark .action-icon {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .main-chat-blk .sidebar-body {
    background: #2B2838;
}

.dark .main-chat-blk .top-online-contacts {
    background: #2B2838;
    color: #B9B7C0;
}

.dark .main-chat-blk .chat-page-wrapper .left-chat-title {
    background: #131022;

    color: #B9B7C0;
}

.dark.main-chat-blk.chat-page .fav-title h6 {
    color: #B9B7C0;
}

.dark.main-chat-blk.chat-page .chat-page-wrapper .left-chat-title {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark.main-chat-blk.chat-page .chat .chat-footer form {
    background: #2B2838;
}

.dark.main-chat-blk.chat-page .chat .chat-footer form .smile-foot .action-circle {
    background: transparent;

}

.dark.main-chat-blk.chat-page .chat .chat-footer form .smile-foot .action-circle i {
    color: #B9B7C0;
}

.dark .dropdown-menu {
    background: #2B2838;
    color: #b9b7c0;
}

.dark .replay-forms {
    border-color: #131022;
}

.dark.main-chat-blk.chat-page .chat .chat-body .messages .chats.chats-right .message-content {
    background: #0f0c1c;
    color: #B9B7C0;
}

.dark.main-chat-blk.chat-page .chat .chat-body .messages .chats .message-content {
    background: #000000;
    color: #B9B7C0;
}

.dark.main-chat-blk.chat-page .chat .chat-body .messages .chats .message-content.award-link a {
    color: #efeff2;
}

.dark .blog-search .input-group .btn-primary {
    background-color: #2B2838;
    color: #efeff2;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark.main-chat-blk.chat-page .chat .chat-header {
    background: #000000;
    color: #B9B7C0;
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361);
}

.dark.main-chat-blk.chat-page .chat .chat-header .user-details h5 {
    color: #B9B7C0;
}

.dark.main-chat-blk.chat-page .chat .chat-header .chat-options ul > li > a.btn {
    background: #A19FA7;
    color: #B9B7C0;
}

.dark.main-chat-blk.chat-page .sidebar .user-list li .users-list-body h5 {
    color: #B9B7C0;
}

.dark.main-chat-blk.chat-page .sidebar .user-list li a:hover .users-list-body h5 {
    color: #002058;
}

.dark.main-chat-blk.chat-page .chat .chat-body .messages .chat-profile-name h6 {
    color: #B9B7C0;
}

.dark.main-chat-blk.chat-page .chat .chat-body .messages .chat-profile-name h6 span {
    color: #B9B7C0;
}

.dark .notication-item p span {
    color: #B9B7C0;
}

.dark .announcement-head {
    background-color: #2B2838;
}

.dark .add-announcement-btn .btn-primary {
    color: #efeff2;
}

.dark .add-announcement-btn .btn-primary:hover {
    color: #b9b7c0;
}

.dark .review-wrap .reviewer-info h6 a {
    color: #B9B7C0;
}

.dark .settings-wrap .btn-primary {
    color: #efeff2;
}

.dark .settings-wrap .btn-primary:hover {
    color: #b9b7c0;
}

.dark .settings-page-head .settings-pg-links {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);

}

.dark .lined-accounts-list li {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .settings-noti-lists li {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .blog-read .btn-primary {
    color: #efeff2;
}

.dark .blog-read .btn-primary:hover {
    color: #b9b7c0;
}

.dark .tag {
    border: 1px solid rgba(199, 199, 199, 0.25);
    background-color: #2B2838;
    color: #efeff2;
}

.dark .load-more .btn-primary {
    color: #efeff2;
}

.dark .blog-widget .card-body {
    border: 0;
}

.dark .ck.ck-toolbar {
    background-color: #2B2838;
}

.dark .ck.ck-toolbar > .ck-toolbar__items > :not(.ck-toolbar__line-break), .ck.ck-toolbar > .ck.ck-toolbar__grouped-dropdown {
    background-color: #2B2838;
}

.dark .post-left ul li {
    border-left: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .ck.ck-editor {
    border: 1px solid rgba(199, 199, 199, 0.25) !important;
}

.dark .home-two .sub-btn {
    color: #B9B7C0;
}

.dark .fa-book-open:before {
    color: #b9b7c0;
}

.dark .header-five .main-nav .has-submenu.active > a {
    color: #ffd600 !important;
}

.dark .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background-color: #0f0c1c;
    color: #efeff2;
}

.dark .daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #0f0c1c;
    color: #efeff2;
}

.dark .daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background-color: #0f0c1c;
    color: #efeff2;
}

.dark .daterangepicker.show-ranges.ltr .drp-calendar.left {
    border: 0;
}

.dark .daterangepicker .calendar-table {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .daterangepicker .drp-buttons .btn {
    color: #efeff2;
}

.dark .modal-content {
    background: #2B2838;
}

.dark label.form-label {
    color: #B9B7C0;
}

.dark body {
    color: #B9B7C0;
    background-color: #131022;
}

.dark .daterangepicker {
    background-color: #2B2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .daterangepicker .ranges li:hover {
    background-color: #131022;
    color: #b9b7c0;
}

.dark .daterangepicker .calendar-table {
    background-color: #2B2838;
    color: #b9b7c0;
}

.dark .header-navbar-rht li a.header-login:hover {
    color: #B9B7C0;
}

.dark .breadcrumb-bar.breadcrumb-bar-info .breadcrumb-title {
    color: #B9B7C0;
}

.dark .btn-mark {
    color: #efeff2;
}

.dark .chat-wrapper .content .sidebar-group {
    border: none;
}

.dark .chat-wrapper .content .sidebar-group {
    border: 0;
}

.dark .left-sidebar .slimScrollDiv {
    border-radius: 0;
}

.dark .chat.chat-messages {
    border: 0;
}

.dark .location-sharing {
    background: #2B2838;
}

.dark .chat .chat-footer form {
    border: 0;
}

.dark .notication-item {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .notication-item:hover {
    border: 1px solid #ff4667;
}

.dark .card-body {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .image-upload .image-uploads .bx-cloud-upload {
    color: #b9b7c0;
}

.dark .profile-upload-group {
    border-bottom: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .account-settings .settings-menu ul li a {
    color: #b9b7c0;
}

.dark .account-settings .settings-menu ul li.active a {
    color: #f66962;
}

.dark .developer-profile-five .profile-five-ovelay {
    background: #2B2838;
    color: #B9B7C0;
}

.dark .page-breadcrumb ol li.active:hover {
    color: #B9B7C0;
}

.dark .blog-five-year span {
    color: #b9b7c0;
}

.dark .footer-news-five .form-control {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .social-icon-five a {
    border: 0;
}

.dark .instructor-badge .web-badge {
    background-color: #2B2838;
    color: #b9b7c0;
}

.dark .add-course-info .form-control {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .view-icons a {
    background-color: #2B2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark .link-box a {
    color: #efeff2;
}

.dark.main-chat-blk .sidebar .user-list li a, .main-chat-blk .sidebar .user-list li .list-user-blk {
    border: 1px solid rgba(199, 199, 199, 0.25);
}

.dark.main-chat-blk .chat-line:before {
    background-color: #0f0c1c;
}

.dark.main-chat-blk .chat-date {
    background-color: #0f0c1c;
    border: 1px solid rgba(199, 199, 199, 0.25);
    color: #b9b7c0;
}

.dark .ticket-btn-grp a {
    color: #efeff2;
}

.dark .select2-container--default .select2-selection--single {
    border: 0;

}

.dark .skils-icon {
    background-color: #2B2838;
    border: 1px solid rgba(199, 199, 199, 0.25);
    box-shadow: 0 4.4px 12px -1px rgba(44, 44, 44, 0.361)
}

.dark .info-withdraw h5 span {
    color: #b9b7c0;
}

.dark .new-employee-field .image-upload, .dark .new-employee-field .img-delete a {
    background-color: #2B2838;
}

.dark .notify-item a.btn {
    color: #efeff2;
}

.dark .benefit-box a {
    color: #efeff2;
}

/*.dark .course-design .product:hover .course-info p, .course-design .product:hover .course-name p, .course-design .product:hover .course-name h4 a, .course-design .product:hover .btn-primary, .course-design .product:hover .course-share i, .course-design .product:hover .product-content h3 a {*/
/*    color: #efeff2;*/
/*}*/

.dark .btn-wish {
    background: none;
}

.dark .btn-enroll {
    color: #efeff2;
}

.dark .category-tab ul li a {
    background-color: #0f0c1c;
    color: #efeff2;
}

.dark .category-tab ul li a.active {
    background-color: #ff5364;
    color: #fff;
}

.dark .cart-remove .btn-primary {
    background-color: #2B2838;
}
