<div class="settings-page-head">
  <ul class="settings-pg-links">
    <li><a [routerLink]="routes.studentSettings" routerLinkActive="active"><i class="bx bx-edit"></i>Edit
      Profile</a></li>
    <li><a [routerLink]="routes.studentChangePassword" routerLinkActive="active"><i class="bx bx-lock"></i>Change
      Password</a></li>
    <li><a [routerLink]="routes.students_social_profile" routerLinkActive="active"><i
        class="bx bx-user-circle"></i>Social Profiles</a></li>
    <li><a [routerLink]="routes.studentLinkedAccount" routerLinkActive="active"><i class="bx bx-link"></i>Linked
      Accounts</a></li>
    <li><a [routerLink]="routes.studentNotification" routerLinkActive="active"><i
        class="bx bx-bell"></i>Notifications</a></li>
  </ul>
</div>
