<div class="error-box">
  <div class="error-logo">
    <a [routerLink]="routes.home">
      <img alt="Logo" class="img-fluid" src="assets/img/logo.svg"/>
    </a>
  </div>
  <div class="error-box-img">
    <img alt="" class="img-fluid" src="assets/img/error-01.png"/>
  </div>
  <h3 class="h2 mb-3">Oh No! Error 404</h3>
  <p class="h4 font-weight-normal">
    This page you requested counld not found. May the force be with you!
  </p>
  <a [routerLink]="routes.home" class="btn btn-primary">Back to Home</a>
</div>
