<!-- Main Wrapper -->
<div class="main-wrapper log-wrap">
  <div class="row">
    <!-- Login Banner -->
    <div class="col-md-6 login-bg">
      <div class="row w-100">
        <div class="col-md-12">
          <owl-carousel-o [options]="registerOwlOptions">
            @for (slide of register; track slide) {
              <ng-template carouselSlide>
                <div class="welcome-login">
                  <div class="login-banner">
                    <img [src]="slide.img" class="img-fluid" alt="Logo"/>
                  </div>
                  <div class="mentor-course text-center">
                    <h2>{{ slide.content1 }}<br/>{{ slide.content2 }}</h2>
                    <p>{{ slide.paragraph }}</p>
                  </div>
                </div>
              </ng-template>
            }
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <!-- /Login Banner -->

    <div class="col-md-6 login-wrap-bg">
      <!-- Login -->
      <div class="login-wrapper">
        <div class="loginbox">
          <div class="img-logo">
            <img alt="Logo" class="img-fluid" src="assets/img/logo.svg"/>
            <div class="back-home">
              <a [routerLink]="routes.home">Back to Home</a>
            </div>
          </div>
          <h1>Sign up</h1>
          <div class="input-block">
            <label class="form-control-label" for="full-name">Full Name</label>
            <input class="form-control" placeholder="Enter your Full Name" type="text"/>
          </div>
          <div class="input-block">
            <label class="form-control-label" for="email">Email</label>
            <input class="form-control" placeholder="Enter your email address" type="email"/>
          </div>
          <div class="input-block">
            <label class="form-control-label" for="password">Password</label>
            <div class="pass-group" id="passwordInput">
              <input (input)="onChangePassword(registerFormCustom.password)" (input)="onInputChange()" [(ngModel)]="registerFormCustom.password"
                     [type]="password"
                     class="form-control pass-input" placeholder="Enter your password"/>
              <span>@if (show) {
                <i class="toggle-password feather icon-eye" (click)="onClick()" (keydown)="onClick()" tabindex="1"
                ></i>
              }</span>
              <span><i [ngClass]="{
                    active: passwordResponce.passwordResponceKey === '3'
                  }" class="feather ocpn-check pass-checked"></i></span>
              <span>@if (!show) {
                <i class="toggle-password feather icon-eye-off" (click)="onClick()" (keydown)="onClick()" tabindex="1"
                ></i>
              }</span>
            </div>
            <div [ngClass]="{
                'poor-active': passwordResponce.passwordResponceKey === '0',
                'avg-active': passwordResponce.passwordResponceKey === '1',
                'strong-active': passwordResponce.passwordResponceKey === '2',
                'heavy-active': passwordResponce.passwordResponceKey === '3'
              }" class="password-strength" id="passwordStrength">
              <span class="active" id="poor"></span>
              <span class="active" id="weak"></span>
              <span class="active" id="strong"></span>
              <span class="active" id="heavy"></span>
            </div>
            <div [ngClass]="{
                weak: passwordResponce.passwordResponceKey === '0',
                average: passwordResponce.passwordResponceKey === '1',
                good: passwordResponce.passwordResponceKey === '2',
                great: passwordResponce.passwordResponceKey === '3'
              }" id="passwordInfo">
              @if (typingStarted && passwordResponce.passwordResponceKey === '0') {
                <img alt="img" [src]="passwordResponce.passwordResponceImage"
                />
              }
              {{ passwordResponce.passwordResponceText }}
            </div>
          </div>

          <div class="form-check remember-me">
            <label class="form-check-label mb-0">
              <input class="form-check-input input-box-auth" name="remember" type="checkbox"/>
              I agree to the
              <a [routerLink]="routes.page_term_condition">Terms of Service</a> and
              <a [routerLink]="routes.page_privacy_policy">Privacy Policy.</a>
            </label>
          </div>
          <div class="d-grid">
            <button [routerLink]="routes.login" class="btn btn-primary btn-start" type="submit">
              Create Account
            </button>
          </div>
        </div>
        <div class="google-bg text-center">
          <span><a href="javascript:void(0)">Or sign in with</a></span>
          <div class="sign-google">
            <ul>
              <li>
                <a href="javascript:void(0)"><img alt="Logo" class="img-fluid"
                                                  src="assets/img/net-icon-01.png"/>
                  Sign In using Google</a>
              </li>
              <li>
                <a href="javascript:void(0)"><img alt="Logo" class="img-fluid"
                                                  src="assets/img/net-icon-02.png"/>Sign In using Facebook</a>
              </li>
            </ul>
          </div>
          <p class="mb-0">
            Already have an account? <a [routerLink]="routes.login">Sign in</a>
          </p>
        </div>
      </div>
      <!-- /Login -->
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
