<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="breadcrumb-list">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a></li>
              <li aria-current="page" class="breadcrumb-item">Pages</li>
              <li aria-current="page" class="breadcrumb-item">Checkout</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Cart -->
<section class="course-content checkout-widget">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <!-- Billing Address -->
        <div class="student-widget">
          <div class="student-widget-group add-course-info">
            <div class="cart-head">
              <h4>Billing Address</h4>
            </div>
            <div class="checkout-form">
              <form action="#">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-block">
                      <label class="form-control-label" for="first-name">First Name</label>
                      <input class="form-control" placeholder="Enter your first Name" type="text">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="input-block">
                      <label class="form-control-label" for="last-name">Last Name</label>
                      <input class="form-control" placeholder="Enter your last Name" type="text">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="input-block">
                      <label class="form-control-label" for="phone-number">Phone Number
                        (Optional)</label>
                      <input class="form-control" placeholder="Phone Number" type="text">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="input-block">
                      <label class="form-control-label" for="address-line1">Address Line 1</label>
                      <input class="form-control" placeholder="Address" type="text">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="input-block">
                      <label class="form-control-label" for="address-line2">Address Line 2
                        (Optional)</label>
                      <input class="form-control" placeholder="Address" type="text">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="input-block">
                      <label class="form-label" for="state">State</label>
                      <mat-select class="custom-mat-select" placeholder="Select State">
                        <mat-option value="Select State">Select State</mat-option>
                        <mat-option value="Brazil">Brazil</mat-option>
                        <mat-option value="French">French</mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="input-block">
                      <label class="form-label" for="country">Country</label>
                      <mat-select class="custom-mat-select" placeholder="Select country">
                        <mat-option value="Select country">Select country</mat-option>
                        <mat-option value="India">India</mat-option>
                        <mat-option value="America">America</mat-option>
                        <mat-option value="London">London</mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="input-block">
                      <label class="form-control-label" for="postal-code">Zip/Postal Code</label>
                      <input class="form-control" type="text">
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-10">
                    <div class="input-block ship-check">
                      <input class="form-check-input" name="remember" type="checkbox"> Shipping
                      address is the same as my billing address
                    </div>
                    <div class="input-block ship-check mb-0">
                      <input class="form-check-input" name="remember" type="checkbox"> Save this
                      information for next time
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /Billing Address -->

        <!-- /Payment Method -->
        <div class="student-widget pay-method">
          <div class="student-widget-group add-course-info">
            <div class="cart-head">
              <h4>Payment Method</h4>
            </div>
            <div class="checkout-form">
              <form action="/pages/cart">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="wallet-method">
                      <label class="radio-inline custom_radio me-4">
                        <input checked="" name="optradio" type="radio">
                        <span class="checkmark"></span> Credit or Debit card
                      </label>
                      <label class="radio-inline custom_radio">
                        <input name="optradio" type="radio">
                        <span class="checkmark"></span> PayPal
                      </label>
                    </div>
                    <div class="input-block">
                      <label class="form-control-label" for="card-number">Card Number</label>
                      <input class="form-control" placeholder="XXXX XXXX XXXX XXXX" type="text">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="input-block">
                      <label class="form-label" for="month">Month</label>
                      <mat-select class="custom-mat-select" placeholder="Month">
                        <mat-option value="Month">Month</mat-option>
                        <mat-option value="Jun">Jun</mat-option>
                        <mat-option value="Feb">Feb</mat-option>
                        <mat-option value="March">March</mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="input-block">
                      <label class="form-label" for="year">Year</label>
                      <mat-select class="custom-mat-select" placeholder="Year">
                        <mat-option value="Year">Year</mat-option>
                        <mat-option value="2022">2022</mat-option>
                        <mat-option value="2021">2024</mat-option>
                        <mat-option value="2020">2020</mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="input-block">
                      <label class="form-control-label" for="cvv-code">CVV Code </label>
                      <input class="form-control" placeholder="XXXX" type="text">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="input-block">
                      <label class="form-control-label" for="name-on-card">Name on Card</label>
                      <input class="form-control" placeholder="Address" type="text">
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-10">
                    <div class="input-block ship-check">
                      <input class="form-check-input" name="remember" type="checkbox"> Remember
                      this card
                    </div>
                  </div>
                  <div class="payment-btn">
                    <button class="btn btn-primary" type="submit">Make a Payment</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /Payment Method -->

      </div>
      <div class="col-lg-4 theiaStickySidebar">
        <div class="stickybar">
          <div class="student-widget select-plan-group">
            <div class="student-widget-group">
              <div class="plan-header">
                <h4>Selected Plan</h4>
              </div>
              <div class="basic-plan">
                <h3>Basic</h3>
                <p>For individuals who just need to start with the basic features</p>
                <p>per user, per month when billed monthly</p>
                <h2><span>$</span>10</h2>
              </div>
              <div class="benifits-feature">
                <h3>Benefits</h3>
                <ul>
                  <li><i class="fas fa-circle"></i> Access to slack community</li>
                  <li><i class="fas fa-circle"></i> Access to support team</li>
                  <li><i class="fas fa-circle"></i> Algorithmic bidding</li>
                  <li><i class="fas fa-circle"></i> Keyword and ASIN harvesting</li>
                </ul>
              </div>
              <div class="benifits-feature">
                <h3>Features</h3>
                <ul>
                  <li><i class="fas fa-circle"></i> Search term isolation</li>
                  <li><i class="fas fa-circle"></i> Total sales analytics</li>
                  <li><i class="fas fa-circle"></i> Best seller rank</li>
                  <li><i class="fas fa-circle"></i> Placement optimization</li>
                </ul>
              </div>
              <div class="plan-change">
                <a [routerLink]="routes.page_pricing_plan" class="btn btn-primary">Change the Plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Cart -->
