<!-- Page Content -->
<div class="page-content">
  <div class="container">
    <div class="row">

      <!-- sidebar -->
      <app-instructor-sidebar class="col-xl-3 col-lg-3 theiaStickySidebar"></app-instructor-sidebar>
      <!-- /Sidebar -->

      <!-- Instructor Settings -->
      <div class="col-xl-9 col-lg-9">

        <div class="settings-widget card-details">
          <div class="settings-menu p-0">
            <div class="profile-heading">
              <h3>Settings</h3>
              <p>You have full control to manage your own account settings</p>
            </div>
            <app-instructor-setting-tab></app-instructor-setting-tab>
            <div class="checkout-form settings-wrap">
              <h5>Choose when and how to be notified</h5>
              <ul class="settings-noti-lists">
                <li>
                  <div class="notification-title">
                    <h6>Student Questions</h6>
                    <p>Notify me when a student asks a question in the Q&A section</p>
                  </div>
                  <div class="status-toggle modal-status">
                    <input checked="" class="check" id="user1" type="checkbox">
                    <label class="checktoggle" for="user1"> </label>
                  </div>
                </li>
                <li>
                  <div class="notification-title">
                    <h6>Feedback Received</h6>
                    <p>Notify me when receive feedback from students</p>
                  </div>
                  <div class="status-toggle modal-status">
                    <input checked="" class="check" id="user2" type="checkbox">
                    <label class="checktoggle" for="user2"> </label>
                  </div>
                </li>
                <li>
                  <div class="notification-title">
                    <h6>Quiz/Exam Results Submission</h6>
                    <p>Notify me when quiz or exam results are submitted</p>
                  </div>
                  <div class="status-toggle modal-status">
                    <input checked="" class="check" id="user3" type="checkbox">
                    <label class="checktoggle" for="user3"> </label>
                  </div>
                </li>
                <li>
                  <div class="notification-title">
                    <h6>Forum Activity</h6>
                    <p>Notify me about new posts or replies in course discussion forums.</p>
                  </div>
                  <div class="status-toggle modal-status">
                    <input class="check" id="user4" type="checkbox">
                    <label class="checktoggle" for="user4"> </label>
                  </div>
                </li>
              </ul>
              <h5>Email Notifications</h5>
              <ul class="settings-noti-lists email-noti-lists">
                <li>
                  <div class="notification-title">
                    <h6>Course Enrollment</h6>
                    <p>Send me emails when a new student enrolls the course</p>
                  </div>
                  <div class="status-toggle modal-status">
                    <input checked="" class="check" id="user5" type="checkbox">
                    <label class="checktoggle" for="user5"> </label>
                  </div>
                </li>
                <li>
                  <div class="notification-title">
                    <h6>Assignment Submission</h6>
                    <p>Send me email whenever an assignment is submitted by a student</p>
                  </div>
                  <div class="status-toggle modal-status">
                    <input checked="" class="check" id="user6" type="checkbox">
                    <label class="checktoggle" for="user6"> </label>
                  </div>
                </li>
                <li>
                  <div class="notification-title">
                    <h6>System Updates</h6>
                    <p>Send me emails about updates to the LMS platform </p>
                  </div>
                  <div class="status-toggle modal-status">
                    <input checked="" class="check" id="user7" type="checkbox">
                    <label class="checktoggle" for="user7"> </label>
                  </div>
                </li>
              </ul>
              <a class="btn btn-primary" href="javascript:void(0);">Save Changes</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /Instructor Settings -->

    </div>
  </div>
</div>
<!-- /Page Content -->
